::cue {
  background: linear-gradient(90deg, #080a0d, #151a1f);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1rem;
  line-height: 1.35;
}

@media screen and (max-width: 1000px) {
  ::cue {
    font-size: 0.9rem;
  }
}
